# Label encoder

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"name":["python","ml","sql","aws","DL","power bi","python","ml","sql","aws","DL","power bi"]})

In [3]:
df

        name
0     python
1         ml
2        sql
3        aws
4         DL
5   power bi
6     python
7         ml
8        sql
9        aws
10        DL
11  power bi

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
le.fit_transform(df["name"])

array([4, 2, 5, 1, 0, 3, 4, 2, 5, 1, 0, 3])

In [7]:
df["en_name"] = le.fit_transform(df["name"])

In [8]:
df

        name  en_name
0     python        4
1         ml        2
2        sql        5
3        aws        1
4         DL        0
5   power bi        3
6     python        4
7         ml        2
8        sql        5
9        aws        1
10        DL        0
11  power bi        3

In [9]:
new_data = df
new_data.to_csv("label_encoder.csv",index=False)